<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.buildkite.trial-vis</string>
  <key>WorkingDirectory</key>
  <string>/usr/local/trial-pipeline-visualizer</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/npm</string>
    <string>start</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>TRIAL_DASHBOARD_ENDPOINT</key>
    <string>http://myserver.com/endpoint</string>
    <key>TRIAL_DASHBOARD_SECRET</key>
    <string>xyz</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>Debug</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/usr/local/trial-pipeline-visualizer/service.log</string>
  <key>StandardErrorPath</key>
  <string>/usr/local/trial-pipeline-visualizer/service.log</string>
</dict>
</plist>
